.exhibition-content {
  padding: 30px;
  font-family: 'Pretendard', sans-serif;
  text-align: center;
}

.exhibition-text {
  max-width: 700px;
  color: #222;
  margin: 0;
  text-align: left;
}

.exhibition-text h1 {
  color: #433D8B;
  font-size: 23px;
  font-weight: 600;
  margin: 20px 0px;
}

.exhibition-text h2 {
    color: #433D8B;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.exhibition-text p {
    color: #6b71a0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.9;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* --- 프로젝트 그리드 --- */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.project-card {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.project-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 0px;
  background-color: #f0f0f0;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-info {
  text-align: left;
}

.project-info h3 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
}

.subtitle.with-margin {
  font-size: 13px;
  color: #6b71a0;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 4px;
}

.title.with-margin {
  color: #433D8B;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 15px;
}

.title.no-margin {
  color: #433D8B;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}

.project-info .team {
  font-size: 13px;
  font-weight: 500;
  margin: 5px 0px;
  color: #6b71a0;
}

.project-info .keywords {
  font-size: 12px;
  font-weight: 250;
  color: #7b7f9e;
  margin: 5px 0px;
}

/* --- 반응형 --- */
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
