.musics-page {
  text-align: center;
  padding: 30px;
  font-family: 'Pretendard', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.musics-page h1{
  font-size: 20px;
  font-weight: 600;
  color: #433D8B;
}

.cd-container {
  margin: 1rem auto;
}

.cd-gif {
  width: 160px;
  height: 160px;
  animation: floatCD 9s ease-in-out infinite;
}

@keyframes floatCD {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.music-list {
  margin-top: 1rem;
}

.music-list p{
  color: #6b71a0;
  font-size: 13px;
  margin: 0.5rem 0;
  font-weight: 350;
}

/* Fade-in animation */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-section.visible {
  opacity: 1;
  transform: none;
}