/* src/styles/Overview.css */
.overview-container {
  font-family: 'Pretendard', sans-serif;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
}

.overview-text {
  max-width: 700px;
  color: #17153B;
}

.overview-text h1 {
  color: #433D8B;
  font-size: 23px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}

.overview-text h2 {
  color: #433D8B;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.overview-text h3 {
  color: #433D8B;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
}

.overview-text .location {
  margin-bottom: 30px;
}

.overview-text p {
  color: #6b71a0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 40px;
}

/* 디데이 */
.countdown {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.time-unit {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.time-unit span {
  font-size: 1.5em;
  font-weight: 200;
  color: #6b71a0;
}

.time-unit p {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.poster-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.poster-image {
  width: 100%;
  max-width: 230px;
  /* 포스터 크기 조절 */
  height: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  animation: floats 5s ease-in-out infinite;
}

@keyframes floats {

  0%,
  100% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(-3px);
  }
}

.map-menus {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 0px;
  margin-bottom: 80px;
  /* 마진 수정 필요 */
}

.overview-text .route {
  margin-bottom: 20px;
}

.navermap {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 9px;
  background-color: #7edd91;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.kakaomap {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 9px;
  background-color: #f9e001;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.sns-buttons {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.sns-buttons button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
}

.sns-buttons button img {
  width: 50px;
  height: 50px;
}

button {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  text-align: center;
}

button span {
  font-size: 13px;
  color: #6b71a0;
  line-height: 1.3;
}