/* src/styles/Overview.css */
.overview-container {
    font-family: 'Pretendard', sans-serif;
    display: flex;
    justify-content: left;
  }
  
  .overview-text {
    max-width: 700px;
    color: #222;
  }
  
  .overview-text h1 {
    color: rgb(121, 68, 255);
    font-size: 23px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  .overview-text h2 {
    color: rgb(121, 68, 255);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .overview-text h3 {
    color: rgb(121, 68, 255);
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
  }
  
  .overview-text .location {
    margin-bottom: 30px;
  }
  
  .overview-text p {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.9;
    margin-bottom: 40px;
  }
  
  /* 디데이 */
  .countdown {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.time-unit {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

.time-unit span {
  font-size: 1.5em;
  font-weight: 200;
}

.time-unit p {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.map-menus {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 30px;
}

.navermap {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 9px;
  background-color: #7edd91;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.kakaomap {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 9px;
  background-color: #f9e001;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}
