/* src/styles/Thanksto.css */
.thanksto-content {
    padding: 30px;
    font-family: 'Pretendard', sans-serif;
    display: flex;
    justify-content: left;
  }
  
  .thanksto-text {
    max-width: 700px;
    color: #222;
  }
  
  .thanksto-text h1 {
    color: rgb(121, 68, 255);
    font-size: 23px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  .thanksto-text h2 {
    color: rgb(121, 68, 255);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .thanksto-text h3 {
    color: rgb(121, 68, 255);
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
  }
  
  .thanksto-text .location {
    margin-bottom: 30px;
  }
  
  .thanksto-text p {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.9;
    margin-bottom: 40px;
  }