footer {
  text-align: left;
  padding: 40px 30px; /* 세로여백 가로여백 */
  background-color: #433D8B;
  width: 100%; /* 화면 너비에 맞게 */
  box-sizing: border-box;
}

  footer p {
    color: #ffffff;
    font-size: 13px;
    line-height: 0.6;
  }
  